@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
:root {
  --bg-color: linear-gradient(
      0deg,
      rgba(113, 77, 159, 0.08),
      rgba(113, 77, 159, 0.08)
    ),
    #fffbff;
  --button-color: #714d9f;
  --button-color-hover: #714d9f;
  --button-border-radius: 16px;
  --button-font-size: 28px;
  --text-color: #ffffff;
  --flag-color-text: #2a0054;
  --header-color: #1d1b1e;
  --flag-color-border: rgba(0, 0, 0, 0);
  --white-color-border: rgba(0, 0, 0, 0);
  --flag-color-box-background: #eedcff;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202226;
    --button-color: #6865f2;
    --button-color-hover: #5653e6;
    --button-border-radius: 12px;
    --button-font-size: 32px;
    --text-color: #ffffff;
    --header-color: #ff6767;
    --flag-color-border: rgba(0, 0, 0, 0);
    --flag-color-text: #ffffff;
    --white-color-border: #bebebe;
    --flag-color-box-background: #303236;
  }
}*/
html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
}
* {
  font-family: 'Roboto', sans-serif;
}
