@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
:root {
  --bg-color: #ffffff;
  --button-color: #6865f2;
  --button-border-radius: 12px;
  --button-font-size: 32px;
  --text-color: #ffffff;
  --header-color: #a74848;
  --flag-color-border: #eeeeee;
  --white-color-border: #bebebe;
  --flag-color-box-background: #fdfdfd;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, sans-serif;
  background-color: var(--bg-color);
}
