.header {
  text-align: center;

  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  color: #a74848;
  padding-bottom: 20px;
}
.holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.colorBoxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}
.flagColorBox {
  background: #fdfdfd;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 15px;
}
.flagColorBoxFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.colorSwatch {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid transparent;
}
.whiteColorSwatch {
  border: 1px solid #bebebe;
}
.colorHexCode {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #333333;
  min-width: 9ex;
  text-align: center;
}
.removeColor {
  font-size: 28px;
  line-height: 32px;
  color: #cb3d3d;
  cursor: pointer;
}
.colorPicker {
  position: absolute;
  transform: translateY(60%);
  z-index: 99;
}
.outsideClickCatcher {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.button {
  font-weight: bold;
  font-size: 28px;
  background: #6865f2;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  padding: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-family: Open Sans, sans-serif;
}
.addButton {
  margin-bottom: 20px;
  min-width: 200px;
}
.flag {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.flag > svg {
  max-width: 90vw;
  filter: drop-shadow(2px 2px 29px rgba(0, 0, 0, 0.1));
}
.exportButtons {
  display: grid;
  grid-gap: 15px;
  max-width: 90vw;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 475px) {
  .exportButtons {
    grid-template-columns: repeat(1, 1fr);
  }
}
.exportButton {
  flex-grow: 1;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}
.directionButton {
  max-width: 90vw;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
