.header {
  text-align: center;

  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  color: var(--header-color);
  padding-bottom: 20px;
}
.holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.colorBoxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}
.flagColorBox {
  background: var(--flag-color-box-background);
  border: 2px solid var(--flag-color-border);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 15px;
}
.flagColorBoxFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.colorSwatch {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid transparent;
}
.whiteColorSwatch {
  border: 1px solid var(--white-color-border);
}
.colorHexCode {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: var(--flag-color-text);
  min-width: 9ex;
  text-align: center;
}
.removeColor {
  font-size: 28px;
  line-height: 32px;
  color: #cb3d3d;
  cursor: pointer;
}
.colorPicker {
  position: absolute;
  transform: translateY(60%);
  z-index: 99;
}
.outsideClickCatcher {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.button {
  background: var(--button-color);
  border-radius: var(--button-border-radius);
  font-weight: bold;
  font-size: var(--button-font-size);
  text-align: center;
  color: var(--text-color);
  border: none;
  outline: none;
  cursor: pointer;
}
.addButton {
  line-height: 48px;
  padding: 5px;
  margin-bottom: 20px;
  min-width: 200px;
}
.flag {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.flag > svg {
  max-width: 90vw;
  filter: drop-shadow(2px 2px 29px rgba(0, 0, 0, 0.1));
}
.exportButtons {
  display: grid;
  grid-gap: 15px;
  max-width: 90vw;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 475px) {
  .exportButtons {
    grid-template-columns: repeat(1, 1fr);
  }
}
.exportButton {
  flex-grow: 1;
  line-height: 44px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.directionButton {
  max-width: 90vw;
  width: 100%;
  line-height: 44px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.preloadColorHexCode {
  width: 7.4ch;
  height: 1em;
  border-radius: 2px;
}
.preloadRemoveColor {
  border-radius: 2px;
  color: transparent;
}
.shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: repeat-y;
  background-size: 800px 104px;
  animation-duration: 1s;
  animation-name: shimmerAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shimmerAnimation {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
